
busness{
 color: white;
 background-color :black;
 width: 100%;
display : block;
}
 company {
 color:white;
 font-size : 20px;
 padding:50%;

}
 name, branch_id, market_cap, contry, email, 
start_date,employees,revenue,sales_growth,promoter_holding {
display : block;
padding:3px;
padding-left: 40px;
}
 
 name {
 font-size : 25px;
 font-weight : bold;
padding:20px;
}
number{
font-weight:bold;
color:rgb(255, 102, 102);
}